{% extends 'mailing_service/base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-3">
                <a href="{% url 'mailing_service:client_create' %}" class="btn btn-primary">Создать клиента</a>
            </div>
        </div>
        <div class="row">
            {% for object in object_list %}
                <div class="card mb-4 mr-5" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.fullname }}</h5>
                        <p class="card-text">{{ object.email }}</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link" href="{% url 'mailing_service:client_update' object.pk %}">Изменить</a>
                        <a class="btn btn-danger"
                           href="{% url 'mailing_service:client_delete' object.pk %}">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
