{% extends 'mailing_service/base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row ">
            <div class="col-2">
                <a href="{% url 'mailing_service:client_list' %}" class="btn btn-primary mb-3">Вернуться к списку
                    клиентов</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">Клиент №{{ object.pk }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ object.fullname }}</h5>
                <hr>
                <p class="card-text">Электронная почта: <br> {{ object.email }}</p>
                <hr>
                <p class="card-text">Комментарий: <br> {{ object.comment }}</p>

            </div>
            <div class="card-footer">
                {% if perms.mailing_service.change_client %}
                    <a class="card-link mx-4" href="{% url 'mailing_service:client_update' object.pk %}">Изменить</a>
                {% endif %}
                {% if perms.mailing_service.delete_client %}
                    <a class="btn btn-danger m"
                       href="{% url 'mailing_service:client_delete' object.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
