{% extends 'mailing_service/base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-3">
                <a href="{% url 'mailing_service:mailing_create' %}" class="btn btn-primary">Создать рассылку</a>
            </div>
        </div>
        <div class="row my-5">
            {% for object in object_list %}
                <div class="card mb-4 mx-2" style="width: 20rem;">
                    <div class="card-header">Рассылка №{{ object.pk }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.mailing_name }}</h5>
                        <p class="card-text">{{ object.time }}</p>
                        <p class="card-text">{{ object.status }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary"
                           href="{% url 'mailing_service:mailing_detail' object.pk %}">Выбрать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
