{% extends 'mailing_service/base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-3">
                <a href="{% url 'mailing_service:message_create' %}" class="btn btn-primary">Создать сообщение</a>
            </div>
        </div>
        <div class="row my-5">
            {% for object in object_list %}
                <div class="card mb-4 mx-2" style="width: 20rem;">
                    <div class="card-header">Сообщение №{{ object.pk }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Тема: {{ object.subject }}</h5>
                        <br>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary"
                           href="{% url 'mailing_service:message_detail' object.pk %}">Выбрать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
